.credentials{
    background-color: black;
}

input[type="text"]:disabled{
    background-color: black;
    color: white;
}
label{
    color: white;
}

img {
    width: 200px !important;
    height: 100px !important;
}