<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/Discount/_css/main.css">
    <link rel="stylesheet" href="/Discount/_css/home.css">

    <title>Discount - Αρψχική Σελίδα</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <a class="navbar-brand" href="/Discount/templates/home.html">Discount.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active float-right">
                        <a class="nav-link" href="/Discount/templates/home.html">Υππηρεσίες <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Χρήστης</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="contain">
        <div class="row offset-1 pt-4">
            <div class="col-7">
                <h4 class="float-right">Επιλέξτε μία υπηρεσία για να ξεκινήσετε.</h4>
            </div>

            <div class="row w-100 BTNpad">
                <div class="col-4">
                    <button class="btn btn-info roundButton clicked">Ενημέρωση Αίτησης</button>
                </div>

                <div class="col-4">
                    <a href="/Discount/templates/request_form.html">
                        <button class="btn btn-primary roundButton float-right">Αίτηση Κουπονιού</button>
                    </a>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="row">
            <div class="col-6">
                <span class="labelFill">Copyright ©2020 All rights reserved!</span>
            </div>
            <div class="col-6">
                <span class="labelFill float-right">Terms & Conditions | Register | Privacy</span>

            </div>
        </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/Discount/_js/main.js"></script>
</body>

</html>