<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/Discount/_css/main.css">
    <style>
        .formPad {
            padding-top: 30% !important;
        }
    </style>

    <title>Discount - Register</title>
</head>

<body>

    <main class="contain">
        <div class="row">

            <div class="col-8 bgIMG"></div>

            <div class="col-4">

                <div class="row-12">
                    <span id="pageNember" class="float-right">1/2</span>
                    <div class="formPad">
                        <div>
                            <!----------------PAGE ONE------------------------>
                            <div id="pageOne">
                                <div class="form-group row justify-content-center">
                                    <h5 class="labelFill">Δημιουργια Λογαριασμου</h5>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="onomatepwnymo"
                                        placeholder="Ονοματεπώνυμο">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="patrwnymo" placeholder="Πατρώνυμο">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="AMKA" placeholder="ΑΜΚΑ">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ADT"
                                        placeholder="Αριθμός Δελτίου Τατότητας">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="AFM" placeholder="ΑΦΜ">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="dob" placeholder="Ημ. Γέννησης">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary roundButton clicked float-right">Επόμενο</button>
                                </div>
                            </div>

                            <!----------------PAGE TWO------------------------>
                            <div id="pageTwo">
                                <div class="form-group row justify-content-center">
                                    <h5 class="labelFill">Δημιουργια Λογαριασμου</h5>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" placeholder="Όνομα Χρήστη">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="e-Mail">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" placeholder="Κωδικός">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="repeatPassword"
                                        placeholder="Επαλήθευση Κωδικού">
                                </div>
                                <div class="form-group">
                                    <button id="backBTN" class="btn btn-primary roundButton clicked float-left bg-info">Πίσω</button>
                                </div>
                                <div class="form-group">
                                    <a href="home.html">
                                        <button class="btn btn-primary roundButton clicked float-right">Δημιουργία</button>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
    </main>

    <footer>
        <div class="row">
            <div class="col-6">
                <span class="labelFill">Copyright ©2020 All rights reserved!</span>
            </div>
            <div class="col-6">
                <span class="labelFill float-right">Terms & Conditions | Register | Privacy</span>

            </div>
        </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/Discount/_js/main.js"></script>
</body>

</html>